<p id="notice"><%= notice %></p>

<h1>Listing Soundboards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soundboards.each do |soundboard| %>
      <tr>
        <td><%= link_to 'Show', soundboard %></td>
        <td><%= link_to 'Edit', edit_soundboard_path(soundboard) %></td>
        <td><%= link_to 'Destroy', soundboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soundboard', new_soundboard_path %>
